In [67]:
import pandas as pd

In [68]:
data = pd.read_csv("Processed_Data.csv")
data['txn_date'] = pd.to_datetime(data["txn_date"])

In [69]:
data["txn_date"].min()

Timestamp('2023-06-01 00:00:00')

In [42]:
data.dtypes

clnt_id            int64
bank_id            int64
acc_id             int64
txn_id             int64
txn_date          object
desc              object
amt              float64
cat               object
merchant          object
lemm_merchant     object
lemm_cat          object
dtype: object

In [45]:
data = data[data['clnt_id'] == 880]

##### How much did I spent on empower during august 2023

In [53]:
data[(data["lemm_merchant"] == "empower") & (data["txn_date"]>=pd.to_datetime("2023-08-01")) & (data["txn_date"]<=pd.to_datetime("2023-08-31")) & (data["amt"]<0)]["amt"].sum()

-8780.134

##### What are my transactions on moneylion so far.

In [49]:
data[(data["lemm_merchant"] == "moneylion") ]

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,lemm_merchant,lemm_cat
23580,880,265,299,30578,2023-08-15,Debit Purchase -visa Card 2501instacash Repaym...,-13.598,Service,MoneyLion,moneylion,service
23789,880,265,299,63254,2023-08-29,Debit Purchase -visa Card 2501instacash Repaym...,-14.598,Service,MoneyLion,moneylion,service
24217,880,265,299,156023,2023-07-05,Debit Purchase -visa Card 2501instacash Repaym...,-13.598,Service,MoneyLion,moneylion,service
24219,880,265,299,134485,2023-08-01,Debit Purchase -visa Card 2501instacash Repaym...,-14.596,Service,MoneyLion,moneylion,service
24344,880,265,299,129542,2023-07-20,Debit Purchase -visa Card 2501instacash Repaym...,-14.398,Service,MoneyLion,moneylion,service
...,...,...,...,...,...,...,...,...,...,...,...
235446,880,95,106,117233,2023-09-22,External Withdrawal ML PLUS / MEMBRSHP 2023092...,-0.920,Transfer,MoneyLion,moneylion,transfer
235479,880,95,106,72377,2023-09-15,External Withdrawal ML PLUS / MEMBRSHP 2023091...,-0.920,Transfer,MoneyLion,moneylion,transfer
235484,880,95,106,181971,2023-07-07,External Withdrawal ML PLUS / MEMBRSHP 2023070...,-0.920,Transfer,MoneyLion,moneylion,transfer
235487,880,95,106,81539,2023-09-01,External Withdrawal ML PLUS / MEMBRSHP 2023083...,-0.920,Transfer,MoneyLion,moneylion,transfer
235602,880,788,906,141081,2023-06-16,External Withdrawal ML PLUS MEMBRSHP MONEYLION,-1.998,Transfer,MoneyLion,moneylion,transfer

###### List my transaction during july 2023

In [52]:
data[(data["txn_date"]>=pd.to_datetime("2023-07-01")) & (data["txn_date"]<=pd.to_datetime("2023-07-31"))]

,clnt_id,bank_id,acc_id,txn_id,txn_date,desc,amt,cat,merchant,lemm_merchant,lemm_cat
641,880,830,957,152713,2023-07-18 00:00:00,POS Debit - Visa Check Card 2323 - APPLE CASH ...,-20.000,Shops,Apple Cash,apple cash,shop
642,880,830,957,46231,2023-07-11 00:00:00,POS Debit - Visa Check Card 2323 - APPLE CASH ...,-15.000,Shops,Apple Cash,apple cash,shop
650,880,842,971,113459,2023-07-28 19:00:00,Family Dollar,-0.410,Shops,FAMILY DOLLAR,family dollar,shop
654,880,844,973,104070,2023-07-27 19:00:00,Family Dollar,-3.692,Shops,FAMILY DOLLAR,family dollar,shop
657,880,844,973,5233,2023-07-20 19:00:00,Dollar General,-2.300,Shops,DOLLAR GENERAL,dollar general,shop
...,...,...,...,...,...,...,...,...,...,...,...
257052,880,485,554,25249,2023-07-10 00:00:00,ATM Withdrawal Plus Maryse Hemant New York NY US,-16.350,ATM,NaN,NaN,atm
257054,880,485,554,92133,2023-07-03 00:00:00,ATM Withdrawal Plus Lk287317 New York NY US,-60.600,ATM,NaN,NaN,atm
257055,880,485,554,179657,2023-07-07 00:00:00,ATM Withdrawal Plus Lk287317 New York NY US,-40.500,ATM,NaN,NaN,atm
257056,880,485,554,151861,2023-07-03 00:00:00,ATM Withdrawal Plus Lk287317 New York NY US,-40.500,ATM,NaN,NaN,atm
257061,880,489,558,56121,2023-07-18 00:00:00,NON-WF ATM WITHDRAWAL AUTHORIZED ON 1036 PENRO...,-4.000,ATM,NaN,NaN,atm

##### How much I deposited during 2023

In [54]:
data[(data["txn_date"]>=pd.to_datetime("2023-01-01")) & (data["txn_date"]<=pd.to_datetime("2023-12-31")) & (data["amt"]>0)]["amt"].sum()

3170.764

##### How much I added to my account between march and july 2023

In [61]:
data[(data["txn_date"]>=pd.to_datetime("2023-03-01")) & (data["txn_date"]<=pd.to_datetime("2023-07-31")) & (data["amt"]>0)]["amt"].sum()

1568.9499999999998

##### How much did I spend between march and july 2023

In [62]:
data[(data["txn_date"]>=pd.to_datetime("2023-03-01")) & (data["txn_date"]<=pd.to_datetime("2023-07-31")) & (data["amt"]<0)]["amt"].sum()

-1213468.424

##### How much Did I spend on 1st day of september 2023

In [66]:
data[(data["txn_date"]==pd.to_datetime("2023-09-01")) & (data["amt"]<0)]["amt"].sum()

-40415.51

In [70]:
data[(data["txn_date"]>=pd.to_datetime("2023-01-01")) & (data["txn_date"]<=pd.to_datetime("2023-12-31")) & (data["amt"]<0)]["amt"].sum()

-2472806.784